name: Build and Test Python Package

on:
  push:
    branches:
      - main
      - test
  pull_request:
    branches:
      - main

jobs:
  test-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          conda-remove-defaults: true

      - name: Create Conda environment with Python and GDAL
        run: |
          conda create --name spectralmatch_env python=${{ matrix.python-version }} "gdal=3.10.2" "proj>=9.3" --override-channels -c conda-forge -v

      - name: Activate Conda environment and install dependencies
        shell: bash -l {0}
        run: |
          conda activate spectralmatch_env
          pip install -e ".[dev]"

      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate spectralmatch_env
          pytest --cov --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test-windows:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          conda-remove-defaults: true

      - name: Create Conda environment with GDAL (Windows)
        run: |
          conda create --name spectralmatch_env python=${{ matrix.python-version }} "gdal=3.10.2" "proj>=9.3" --override-channels -c conda-forge -v

      - name: Activate Conda environment and install package
        run: |
          conda activate spectralmatch_env
          pip install -e ".[dev]"

      - name: Run tests
        run: |
          conda activate spectralmatch_env
          pytest